body {
    margin : 0;
    font-family: sans-serif;
}
ul, li {
    padding: 0;
    list-style-type: none; /*Removing the dots*/
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr; /*20% 60% 20% widths*/
    column-gap: 30px;
}

header {
    grid-column: span 3; /*Because there are 3 columns*/
    text-align: center;
}

nav ul {
    overflow: hidden;
    padding: 0;
    background-color: #333;
}

nav ul li {
    float: left;
}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li.login {
    float: right; /* For the login nav button to stay to the right*/
}

nav ul li a:hover {
    background-color: #111;
}

aside .left li {
    text-decoration: underline;
}

main {
    padding: 30px;
}

main h2 {
    font-size: 3.5em;
    max-width: 800px;
}

main img {
    max-width: 100%; /* Ensure the image is responsive and fits the article */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Prevent inline display to avoid space beneath the image */
    margin: 20px 0; /* Add some margin above and below the image */
}

.article-info {
    display: flex; /* Display list items in a row */
    justify-content: space-around; /* Distribute space evenly around items */
    margin: 20px 0; /* Add some margin above and below the list */
}

.article-info li {
    display: flex; /* Display the <strong> and <p> elements inline */
    flex-direction: column; /* Stack them vertically */
    align-items: center; /* Center-align the items */
}

.article-info p {
    margin: 2px 0; /* Add a little space between the <strong> and <p> */
}

main p {
    margin-top: 30px;
    line-height: 2em;
    color: #777;
}

footer {
    grid-column: span 3; /*Because there are 3 columns*/
    text-align: center;
    border-top: 1px solid #ddd;
}

/*Responsive styles*/

/*For when screen width goes below 1200px*/
@media screen and (max-width: 1200px) {
    aside.left {
        grid-column: span 3;
        border-bottom: 1px solid #ddd;
    }
    main {
        grid-column: span 2;
    }
}

/*For when screen width goes below 980px*/
@media screen and (max-width: 980px) {
    aside .left .right, main {
        grid-column: span 3;
    }
    main h2 {
        font-size: 2.5em;
    }
}